<h1>Ceux qui le souhaitent ont la possibilité de dormir à La Bastide d'Albignac le Vendredi 6 et le Samedi 7 Avril 2018 moyennant 30 euros par personne (gratuit pour les enfants en bas âge).</h1>

<h1>Pensez à apporter vos draps et sacs de couchage.</h1>

<h1>Cette proposition est également ouverte à ceux qui n'habitent pas loin pour éviter de prendre le volant en état d'ivresse.</h1>
