<div class="container">
  <div class="row">
    <div class="col-xs-12">
      </h1>ATTENTION : Pour se rendre à la Bastide d'Albignac, ne tapez pas "la bastide d'albignac" sur vos GPS car c'est un autre hameau.</h1>
      <p>
        Depuis Lédergues : <br>
        - Aller jusqu'à Albignac-le-Dourn.<br>
        - Traverser le village.<br>
        (200m) <br>
        - Passer devant le cimetière.<br>
        (200m) <br>
        - Tourner à la première à gauche dans le hameau d'Albin.
        - Suivre les panneaux "LABASTIDE" jusqu'en bas de la vallée.
    </p>
      <div style="margin-top: 10px; display: flex; justify-content: space-around; align-items: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d50645.6627334804!2d2.4270256851705128!3d44.04458749375427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x12ad8aeab2ac031f%3A0xf51287b49203ce9c!2sMairie%2C+Place+Georges+Boulouys%2C+12170+L%C3%A9dergues!3m2!1d44.088814199999995!2d2.4405205999999997!4m3!3m2!1d44.002441999999995!2d2.470491!5e0!3m2!1sfr!2sfr!4v1521146259823" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
