<h5>Programme</h5>
<p>14h30 : Mariage civil à la Mairie de Lédergues (12)</p>
<p>16h00 : Cérémonie laïque à la Bastide d'Albignac (81)</p>
<p>17h00 : Vin d'Honneur à la Bastide d'Albignac (81)</p>
<p>20h30 : Repas à la Bastide d'Albignac (81)</p>
